{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "RightTrigger",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement",
      "Title": null
    },
    {
      "Name": "View",
      "KeyboardCode": "C",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "None",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Score",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other",
      "Title": null
    },
    {
      "Name": "GearUp",
      "KeyboardCode": "E",
      "GamepadCode": "None",
      "GroupName": "Gears",
      "Title": null
    },
    {
      "Name": "GearDown",
      "KeyboardCode": "Q",
      "GamepadCode": "None",
      "GroupName": "Gears",
      "Title": null
    }
  ],
  "__guid": "0ef2a792-ba46-4785-9169-eb9d53f2cc21",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}